$blue: #100F3A;
$grey: #F0F2F4;
$grey: #38434e;
$grey-dark:  #080770;
$white: white;
$black: black;
$pink: #FFA07F;

html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1em;
    text-align: left;
    line-height: 1.2em;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

hr{
    background-color: $blue;
    height: 2px;
    margin-top: -15px;
    border: none;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__left{
        display: block;
        width: 35%;
        background-color: rgb(231, 224, 224);
        line-height: 1.4em;

        .section{
            margin-left: 15px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .about{
            background-color: #100F3A;
            color: white;
            padding-top: 10px;
            margin: 0 auto;
            padding-bottom: 10px;

            img{
                display: none;
            }

            h1{
                margin-left: 15px;
                font-size: 1.8em;
                line-height: 1.3em;
            }

            span{
                margin-left: 15px;
                font-weight: bold;
                font-size: 1.3em;
            }

            ul li{
                list-style: none;
                margin: 7px auto;
               // padding-left: -10px;
                margin-left: -15px;

                i{
                    margin-right: 5px;
                }
            }
        }

        .education{
            display: block;
            margin-top: -20px;

            &__item{
                strong{
                    font-size: 1.3em;
                }
                span{
                    font-weight: bold;
                    color: $blue;
                    font-size: 1.2em;
                }

                p{
                    padding-left: 10px;
                    i{
                        margin-right: 10px;
                    }
                }
            }
        }


    }

    &__right{
        display: block;
        width: 60%;
        padding-left: 5px;

        .box{
            margin: auto auto 16px auto;
            padding-right: 5px;

            h2{
                color: $blue;
            }

            h3{
                font-size: 1.4em;
            }

            span{
                font-weight: bold;
            }

            .details{
                display: flex;
                justify-content: start;
                flex-direction: row;
                padding-left: 10px;
                width: 100%;
                margin-left: 0;
                    p{
                        margin-left: 10px;
                    }
            }

            ul {
                margin: 0px auto;
                li{
                    list-style: circle;
                }
            }
        }
    }
}